/*                                                                                  TOP NAV STYLING*/
.topnav {
   /*position: sticky;*/
    display: inline-block;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    text-decoration: none;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-size: 16px;
}

.topnav a {
    text-decoration: none;
    letter-spacing: 0.04em;
    color: #909090;
    transition: all 0.15s ease;
    margin-top: 30px;
}

.topnav a:hover {
    color: #2B2E33;
    cursor: pointer;
}

.topnav a.active {
    color: #2B2E33;
}



/*                                                                                  SIDE NAV STYLING*/


.sidenav {
    position: fixed;
    bottom: 50px;
    width: 20%;
    height: auto;
    animation: expand 1s ease forwards;
}

.sidenav a {
    text-decoration: none;
    margin-left: 15%;
    color: #909090;
}

/*have side bar slide in from left*/
@keyframes expand {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
} 

.sidenav a:hover {
    color: #3B58ED;
}

li {
  list-style-type: none;
  line-height: 150%;
}



/*JAVASCRIPT HERE. RESPONSIVE SIDE BAR*/
.sidenav li.active > a {
    color: #3B58ED;
    font-weight: 300;
}




/*                                                                                  GENERAL CONTENT STYLING*/
body {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

a {
  color: #2B2E33;
}

#hero-img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.content {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-title {
  font-size: 14px; 
  font-weight: bold;
 /* letter-spacing: 5px;*/
}

#content-img{
  width: 140%;
  margin-left: -20%;  /*lmao tryna override content hack*/
}

#hero-text {
  padding: 50px;
  color: white;
  background-color: #3B58ED;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height:40px;
}

#proj {
    padding-top:50px;
    transition: all 0.2s ease;
}

    #proj:hover {
    cursor: pointer;
    opacity: 0.8;
    }

p {
    line-height: 30px;
    margin-bottom: 30px; /*between paragraph height*/
}


img {
    width: 100%;
}



#footer {
    font-size: 12px; 
    color: #666666;
    padding-top: 50px;
}



/*                                                              berkeleytime specific styling*/


.quotes-faces {
    display: flex;
    flex-direction: column;
    padding-right: 15%;
}

#quote-row {
    display: flex;
    flex-direction: row;
}

#person {
  padding-left: 50px;
    width:20%; 
    height:20%;


}

.grey-with-gif {
    width: 140%;
    margin-left: -20%;  /*lmao tryna override content hack*/
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

#grey{
    background-color: #FBFAFB;
    padding: 60px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bt-gif {
  max-width:300px;
  max-height:570px;
  width: auto;
  height: auto;
  padding-left: 60px;
}


/*                                                                  doordash specific styling*/

#app-triangle {
    display: flex;
    flex-direction: row;
}

#triangle {
  max-width:300px;
  max-height:250px;
  width: auto;
  height: auto;
  padding-left: 60px;
}

.task-prompt {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

#col1 {
    padding-right: 70px;
    display: flex;
    flex-direction: column;

}

#col2 {
    display: flex;
    flex-direction: column;

}


#caption{
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


h4 {

    font-size: 20;
    font-weight: bold;
    line-height: 200%;
}

#problem{
  width: 50%;
  padding-top: 100px;

}





