
/*                                                                                  TOP NAV STYLING*/
.topnav {
   /*position: sticky;*/
    display: inline-block;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    text-decoration: none;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-size: 16px;
}

.topnav a {
    text-decoration: none;
    letter-spacing: 0.04em;
    color: #909090;
    transition: all 0.15s ease;
    margin-top: 30px;
}

.topnav a:hover {
    color: #2B2E33;
    cursor: pointer;
}

.topnav a.active {
    color: #2B2E33;
}



/*                                                                                  SIDE NAV STYLING*/
.sidenav {
    position: fixed;
    bottom: 50px;
    width: 20%;
    height: auto;
    animation: expand 1s ease forwards;
}

.sidenav a {
    text-decoration: none;
    margin-left: 15%;
    color: #909090;
}

.sidenav a:hover {
    color: #3B58ED;
}



/*JAVASCRIPT HERE. RESPONSIVE SIDE BAR*/
.sidenav li.active > a {
    color: #3B58ED;
    font-weight: 300;
}



/*have projects slide up*/
#animate {
  animation: slideUp .8s ease-in-out forwards .3s;
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*have side bar slide in from left*/
@keyframes expand {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
} 


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}



/*                                                                                  GENERAL CONTENT STYLING*/
body {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

a {
  color: #2B2E33;
}

.content {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content .intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    margin-bottom: 5%;
}

#proj {
    padding-top:50px;
    transition: all 0.2s ease;
}

    #proj:hover {
    cursor: pointer;
    opacity: 0.8;
    }

p {
    line-height: 30px;
    margin-bottom: 30px; /*between paragraph height*/
}

/*
h1 {
    text-align:center;
}*/

h2 {
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 30px; /*between paragraph height*/
}

img {
    width: 100%;
}


#footer {
    font-size: 12px; 
    color: #666666;
    padding-top: 50px;
}








/*                                                                                        ABOUT CONTENT STYLING*/


#about-pic {
    width: 60%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.content .about {
    width: 60%;
}


.lists {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


li {
    list-style-type: none;
    line-height: 150%;
}


#list {
    text-align: left;
    line-height: 16px;
    /*margin-bottom: 30px;*/ /*between paragraph height*/
}





/*                                                                                 PERSONAL PROJECTS CONTENT STYLING*/


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2rem;
  margin-top: 10px;
  margin-bottom: 50px;
}

#pers-img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

h3 {
    font-size: 30px;
}

#hero {
    padding-top: 30px;
    padding-bottom: 50px;
}






.proj-container{
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .3s; /*have case studies slide up*/
}

#animate {
  animation: slideUp .8s ease-in-out forwards .3s; /*have pers proj slide up*/
  
}


@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}















